# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
def my_function():
    print("Hello World")
    
my_function() #calling the function to get the output

Hello World

In [2]:
def my_function2():
    print(8*2)
    
my_function2()

16

### Why we need function?

In [3]:
def adress():
    print("2001 Newburg Road")
    
adress()
adress()
adress()
adress()
adress()

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [4]:
def squared(number):
    return(number**2)

squared(3)

9

In [5]:
squared(12345)

152399025

In [7]:
def cube(number):
    return(number**3)
cube(3)

27

## Our own functions for practice
`Echo` that will act same as print

In [8]:
def echo(data):
    return(data)
echo("Hello")

'Hello'

In [9]:
echo(5)

5

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [17]:
def favorite_book(title):
    print(title + " is one of my favorite books")

In [18]:
def favorite_book1(title):
    message=title + " is one of my favorite books"
    return(message)

In [19]:
favorite_book("Alice in Wonderland")

Alice in Wonderland is one of my favorite books

In [21]:
favorite_book1("Programming with Python")

'Programming with Python is one of my favorite books'

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [22]:
def calc_MPG(miles_driven, gallons_used):
    return(miles_driven/gallons_used)

In [23]:
calc_MPG(100,3)

33.333333333333336

In [24]:
calc_MPG(200,5)

40.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [29]:
def MPG(miles_driven=200, gallons_used=12):
    gallons_used=11
    miles_driven=300
    return(miles_driven/gallons_used)

In [30]:
MPG()

27.272727272727273

In [31]:
MPG(miles_driven=400)

27.272727272727273

###  Function repeat using `for` loop

In [32]:
def repeat_echo(data, count):
    for i in range(count):
        print(data)

In [33]:
repeat_echo("2001 Newburg RD", 5)

2001 Newburg RD
2001 Newburg RD
2001 Newburg RD
2001 Newburg RD
2001 Newburg RD

## Practice: Define a function called `name` and print your name 20 times using the function

In [34]:
def name(data, count):
    for i in range(count):
        print(data)
        
name("Thomas", 20)

Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas
Thomas

### Write a function to find maximum of three values

In [1]:
max(23,56,78)

78

In [8]:
def maxiumum(a,b,c):
    if a>b and a>c:
        largest=a
    elif(b>c):
        largest=b
    else:
        largest=c
    return largest

In [9]:
maxiumum(45,12,89)

89

### Practice Example: Define `minimum` function of three values

In [10]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a
    elif(b<c):
        smallest=b
    else:
        smallest=c
    return smallest

In [11]:
minimum(12,45,89)

12

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [12]:
def addition(*args):
    return sum(args)

In [13]:
addition(10,23,45,67)

145

In [14]:
addition(10,23,45,67,18,77)

240

In [15]:
#Average of numbers
def get_mean(*args):
    return sum(args)/len(args)

In [16]:
get_mean(23,23,45,67)

39.5

In [18]:
get_mean(1,2,3,4,5,6,7,8,9,10)

5.5

### Arbitary Argumented list with list

In [20]:
numbers=[34,56,78,99]
get_mean(*numbers)

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [21]:
x=10 #global variable

def scope_of_function(num):
    return num*2 #num is a local variable

scope_of_function(20)

40

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [24]:
x=10
def try_to_modify_global():
    x=3.5
    print(x)
try_to_modify_global()
x

3.5

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [26]:
x=10
def modify_global():
    global x
    x=3.5
    print(x)
modify_global()
x

3.5

3.5

## Write functions to find out Area and Perimeter of circle

In [27]:
from math import pi

In [31]:
def area_circle(r):
    return pi*(r**2)

def peri_circle(r):
    return 2*pi*r

r=int(input("Enter the value of r: "))
print("The area of the circle is", round(area_circle(r)))
print("The perimeter of the circle is", peri_circle(r))

Enter the value of r: 10
The area of the circle is 314
The perimeter of the circle is 62.83185307179586

## Write functions to find out Area and Perimeter of rectangle

In [32]:
def area_rectangle(h,w):
    return h*w
    
def peri_rectangle(h,w):
    return 2*(h+w)

h=int(input("Enter the height: "))
w=int(input("Enter the width: "))
print("The area of the rectangle is", round(area_rectangle(h,w)))
print("The perimeter of the rectangle is", round(peri_rectangle(h,w)))

Enter the height: 10
Enter the width: 5
The area of the rectangle is 50
The perimeter of the rectangle is 30

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [42]:
import random
x=random.randrange(10,20)
print(x)

12

In [45]:
#filling an empty list with random numbers
list=[]
for i in range(10): #10 entries to the list
    x=random.randrange(1,20) #numers will be in between 1 and 19
    list.append(x)
print(list)

[17, 13, 11, 18, 13, 5, 6, 18, 12, 15]

## Creat a list of 20 numbers in the range of 30 to 50

In [46]:
list1=[]
for i in range(20):
    x=random.randrange(30,51)
    list1.append(x)
print(list1)

[46, 37, 49, 31, 44, 33, 41, 48, 37, 39, 35, 46, 35, 32, 36, 37, 44, 30, 43, 40]

### Guess the number between 1 to 10

In [49]:
import random
number=random.randint(1,10) #randint 10 is included
entered_number=None
time=0

while entered_number!=number:
    entered_number=int(input("Enter a number between 1 and 10: "))
    if entered_number==number:
        print("You won.", "You took", time, "chances")
    else:
        print("Try again")
    time+=1

Enter a number between 1 and 10: 3
Try again
Enter a number between 1 and 10: 4
Try again
Enter a number between 1 and 10: 7
Try again
Enter a number between 1 and 10: 1
You won. You took 3 chances